# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual env
venv/
env/

# Django static/media
static/
staticfiles/
media/

# IDE files
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db


git add .
git status
